body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font-size: 12px;
}
p {
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 14px;
}

/* Form Styling */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-control.error,
.form-control:focus.error {
  border-color: red;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Log Out */
.logout {
  float: right;
  clear: both;
}

/* User Styling */
.user {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #000;
}

.user h2 {
  font-size: 16px;
  margin-bottom:16px;
  font-weight: bold;
}

.user .age { font-style: italic; }

.user .category { float: right; }

.user.priority-1 { background-color: #ffd589; }
.user.priority-2 { background-color: #a2f0a2; }
.user.priority-3 { background-color: #9696ff; }
.user.priority-4 { background-color: #ffaeff; }

/* Filter */
.filter {
  text-align: right;
}
